@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
.ancho-principal {
    width: 80%;
    height: 100%;
    margin: auto;
    
}
header{
    width: 100%;
    height: 110px;
    background-image: linear-gradient(to right, #1b2f39, rgba(255, 255, 255, 0.89));
}

#contenedor-logo{
    width: 29%;
    height: 90%;
    margin: auto;
    float: left;
    border-bottom: 1px solid grey;
}
#contenedor-logo img{
    max-width: 100%;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    text-align: center;
    height: 100%;
    margin: 0%;
}
.menu__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
        
}

.menu__container a{
    color: #1b2f39;
    text-decoration: none;  
        

}

/* Animacion hover en links */
/* IMPORTANTE que sea en pseudoelemento :after para que se renderice después de cargar el html (De lo contrario no es una añadido sino que lo modifica totalmente */
.menu__container a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(34, 34, 95);
    display: block;
    margin: auto;
    transition: 0.5s ;
}

.menu__container a:hover::after{
    width: 100%;
}

#main-container {
    background-color: whitesmoke;
    height: 100%; 
    padding: 20px;
}
section {
    background-color: beige;
    border: 2px dotted black;
    height: 50%;
    padding: 20px;
}
.aside-left{

    position: relative;
    display: inline-block;
    width: 30%;
    height: 100%;
}
.aside-rigth {

    position: relative;
    display: inline-block;
    width: 65%;
    margin-left: 40px;
    height: 100%;
}
#goglee{
    display: block;

} 

.cardholder{
    display:flex;
    justify-content: space-between;
    /* padding: 5rem */
}

.card{
   /*  height: 10rem;
    width: 7rem;*/
    border: 3px solid red;
    background-color: tomato;
    color: tomato;

}
.card--animation:hover{
    background-color: orangered;
    color: yellow;
}
footer {
    font-family: 'Rubik', sans-serif;
    height: 300px;
    background-color: #1b2f39;
    position: relative;
    display: block;
    color: #fff;
    line-height: 25px;
    border-bottom: 25px solid #304886;
}

.cajas-footer  {
    height: 250px;
    width: 20%;
    background-color: #1b2f39;
    padding: 25px;
    float:left;
}
.centrar{text-align: center;}
.listas-footer{
    list-style-type: none;
  padding: 0;
  margin: 10 0 ;
}
.logo{
    width: 250px;
    height: 100px;
}

/* Redes sociales */
#caja-redes {
    margin: 50px auto;
    width: 125px;
  }
a.s3d  {
    clear: both;
    opacity: .8; 
    border-radius:3px; 
    box-shadow:0 4px 5px rgba(0,0,0,.3); 
    display: inline-block !important;
    font: 700 13px/36px 'Arial', Helvetica, Clean, sans-serif;
    height: 26px;
    margin: 0 0 10px;
    padding: 0 10px 11px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,.35);
    width: 125px;   
    transition: width 0.1s ease-in-out, opacity 0.1s ease-in-out, margin-left 0.1s ease-in-out, transform .3s ease-out;
  }
  
  a.s3d:hover {
    opacity: 1;
    width: 160px;
    margin-left: -10px;
  }
  
  a.s3d:active { transform: translateX(200px); }
  
  /* Twitter */
  a.twitter {
    background: #65acc8;
    background: linear-gradient(#65acc8, #4586ae);
    border-top: 1px solid #a1cdde;
    color: rgba(25,45,55,.9);
  }
  
  a.twitter:active {
    background: #4586ae;
    background: linear-gradient(#4586ae, #65acc8);
  }
  
 .icons {
     background: url(../img/Twiter.png);
     bottom: 5px;
     display: block;
     height: 30px;
     width: 30px;
     position: absolute;
     right: 10px;
 }

  /* Facebook */
  a.facebook {
    background: #4669ab;
    background: linear-gradient(#4669ab, #304886);
    border-top: 1px solid #8ea4cd;
    color: rgba(21,31,53,1);
    text-shadow: 0 1px 1px rgba(255,255,255,.35);
  }
  
  a.facebook:active {
    background: #304886;
    background: linear-gradient(#304886, #4669ab);
  }
  .icons {
    background: url(../img/Facebook.png);
    bottom: 5px;
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px; 
  }
  
  
  .icons.twitter { background-position: -25px 0 }
  
  .icons.facebook { background-position: -50px 0 }
/* Fin Redes sociales */


/* Mogollon de media queries */


@media only screen and (max-width: 900px) {
    #main-container {
        background-color: red;
                
    }
    /* HEADER */
    /* Ocupa el total de la pantalla */
    header{
        width:100vw;
        height: 100vh;
        background-color: transparent;
        background-image: linear-gradient(rgba(186, 191, 212, 0.7),
            rgba(58, 83, 59, 0.7)), url(../img/mobileMainImage.jpg);
        background-size: cover;
    }
    
    #contenedor-logo{
        height: 5rem;
        border: none;
    }
    #contenedor-logo img{
        height: 100%;
        background-image: linear-gradient(to right,rgba(0,0,0,1),#1b2f39);
    }

    /* Menu */

    header nav{
        height: 5rem;
    }
    .menu__container{
        display: flex;
        /* border: 1px solid red; */
        align-items: center;
        justify-content: center;
        height: 5rem;
        padding: 0, 6rem;
        background-image: linear-gradient(to right,#1b2f39, #818592);
    }

    

    /* Botones de menu */
    .nav__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: whitesmoke;
        margin-left: 3rem;
        margin-right: 1.5rem;
        background-color: rgb(173, 188, 236);
        border-radius: 16px;
        height: 2rem;
        width: 6rem;  
        min-width: 90px;
        transition: all 0.2s;
        padding-left: 2rem;
    }

    .nav__link:hover{
        font-weight: bolder;
        border-bottom: 3px solid #ffffff;
        background-color: rgb(124, 124, 235);
        color: rgb(235, 235, 235);
    }

    .menu__container a:hover::after {
        width: 0%;
    }

    /* Body */

    .ancho-principal{
        width: 100%;
        margin:0;
        padding-right: 0%;
    }
    .aside-left {
         display: none;
     }
    .aside-rigth {
          width: 100%;
          margin: auto;
    }

    /* Footer */

    footer {  
        height: 900px;
    }
    .cajas-footer{
        width: 100%;
        height: 150px;
        text-align: center;
        padding: 25px 0px 25px 0px;
    }

    
    

}  





  @media only screen and (min-width: 900px) and (max-width: 1300px) {
     #main-container {
         background-color:yellow;
     }
    .aside-left{
         display: none;
     }
     footer {
        height: 700px;
    }
    .cajas-footer{
        width: 40%;
    }
 } 

 @media only screen and (min-width:1300px)  {
     #main-container {
         background-color: blue;
     }
 }
/* iPads (portrait)*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    #main-container {
        background-color:violet;
    }
}
/* iPads (landscape) */
@media only screen and (min-device-width : 1024px) and (max-device-width : 768px) and (orientation : landscape) {
      #main-container {
          background-color: orange !important;
      }
}
/* iPhone (portrait)*/
@media only screen and (min-device-width : 390px) and (max-device-width : 844px) and (orientation : portrait) {
    #main-container {
        background-color:rgb(63, 207, 218);
    }
}
/* iPhone (landscape) */
@media only screen and (min-device-width : 844px) and (max-device-width : 390px) and (orientation : landscape) {
      #main-container {
          background-color: grey !important;
    }
}


form input, form textarea, form select {
    display: block;    
    } 

form input[type="radio"], form input[type="checkbox"] {
    display: inline;
}

form label {
    margin-top:10px;
    margin-bottom: 5px;
    display:inline-block;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.nobold {
    font-weight: normal;
}
.input-textarea {
    margin-bottom: 10px;
}
form legend {
    font-size: 30px;
    font-style: oblique;
}
