@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
/*Body*/
body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

/*No modificar!!*/
.ancho-principal {
    width: 80%;
    margin: auto;
    height: 100%;
}

header {
    width: 100%;
    height: 110px;
    background-image: linear-gradient(to right, #1b2f39, rgba(255, 255, 255, 0.89));
}

#contenedor-logo {
    width: 29%;
    height: 90%;
    margin: auto;
    float: left;
    border-bottom: 1px solid grey;
}

#contenedor-logo img {
    max-width: 100%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    text-align: center;
    height: 100%;
    margin: 0%;
}

.menu__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 110px;

}

.menu__container a {
    color: #1b2f39;
    text-decoration: none;


}

/* Animacion hover en links */
/* IMPORTANTE que sea en pseudoelemento :after para que se renderice después de cargar el html (De lo contrario no es una añadido sino que lo modifica totalmente */
.menu__container a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(34, 34, 95);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.menu__container a:hover::after {
    width: 100%;
}

#main-container {
    background-color: whitesmoke;
    height: 1100px;
}

section {
    background-color: #ffffff;
    border: 2px dotted black;
    padding: 20px;
}

.aside-left {
    width: 30%;
    height: 100%;
    float: left;
    margin-left: 5px;
}

/* Textos dinámicos aside-left */

.aside-left__text-container{
    border: 1px solid #1b2f39;
    padding: 2rem;
    margin-top: 20px;
}

input[type=submit]{
    background-color: #283035;
    border-radius: 16px;
    width: 30%;
    height: 5%;
    color: white;
}
input[type=submit]:hover{
    background-color: #4586ae;
    border-bottom: 5px solid black;
}

#div2{
    display: none;
}

#div3{
    display: none;
}

.main-rigth {
    width: 60%;
    height: 100%;
    float: right;
    margin-right: 5px;
}

.contenedor-portada {
    height: 425px;
    width: 100%;
    position: relative;
}

#portada {
    position: absolute;
    background-image: url(../img/Kirt.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

#titulo-portada {
    position: absolute;
    color: #5c6b72;
    font-family: 'Koulen', cursive;
    font-size: 3.5em;
    line-height: 0.9;
    text-shadow: 2px 2px #ffffff;
    text-align: center;
    height: 255px;
    width: 90%;
    padding-top: 170px;
}

#cajas-portada {
    height: 680px;
}

#cajas-portada div {
    float: left;
    height: 50%;
}

.c-portada-peq {
    width: 50%;
    text-align: center;
}

.c-portada-gra {
    width: 100%;
}

.c-portada-gra h1 {
    font-family: 'Koulen', cursive;
    font-size: 2.5em;
    line-height: 0.9;
    text-align: right;
    padding-right: 30px;
    color: #dd3333;
}

.c-portada-gra p {
    font-family: 'Rubik',
        sans-serif;
    font-size: 1.5em;
    padding: 20px;
    text-align: justify;
}


.cardholder {
    display: flex;
    justify-content: space-between;
    /* padding: 5rem */
}

.card {
    /*  height: 10rem;
    width: 7rem;*/
    border: 3px solid red;
    background-color: tomato;
    color: tomato;

}

.card--animation:hover {
    background-color: orangered;
    color: yellow;
}

footer {
    font-family: 'Rubik', sans-serif;
    height: 400px;
    background-color: #1b2f39;
    position: relative;
    display: block;
    color: #fff;
    line-height: 25px;
    border-bottom: 25px solid #304886;
    margin-top: 50px;
}

.cajas-footer {
    height: 280px;
    width: 20%;
    background-color: #1b2f39;
    padding: 25px;
    float: left;
    overflow: hidden;
}

.centrar {
    text-align: center;
}

.listas-footer {
    list-style-type: none;
    padding: 0;
    margin: 10 0;
}

.map-iframe {
    padding: 0;
    margin: 10 0;
    display: block;
    width: 100%;
    height: 200px;
    border: 0;
}

.logo {
    width: 250px;
    height: 90px;
}

/* Redes sociales */
#caja-redes {
    margin: 50px auto;
    width: 125px;
}

a.s3d {
    clear: both;
    opacity: .8;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
    display: inline-block !important;
    font: 700 13px/36px 'Arial', Helvetica, Clean, sans-serif;
    height: 26px;
    margin: 0 0 10px;
    padding: 0 10px 11px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .35);
    width: 125px;
    transition: width 0.1s ease-in-out, opacity 0.1s ease-in-out, margin-left 0.1s ease-in-out, transform .3s ease-out;
}

a.s3d:hover {
    opacity: 1;
    width: 160px;
    margin-left: -10px;
}

a.s3d:active {
    transform: translateX(200px);
}

/* Twitter */
a.twitter {
    background: #65acc8;
    background: linear-gradient(#65acc8, #4586ae);
    border-top: 1px solid #a1cdde;
    color: rgba(25, 45, 55, .9);
}

a.twitter:active {
    background: #4586ae;
    background: linear-gradient(#4586ae, #65acc8);
}

.icons.twitter {
    background-position: -8px 0;
    background: url(../img/Twiter.png);
}

.icons.facebook {
    background-position: -8px 0;
    background: url(../img/Facebook.png);
    background-size: 26px;
    background-repeat: no-repeat;
    bottom: 3px;
    right: 3px;
    width: 30px;
    height: 29px;
}

.icons {
    bottom: 3px;
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 2px;
}

/* Facebook */
a.facebook {
    background: #4669ab;
    background: linear-gradient(#4669ab, #304886);
    border-top: 1px solid #8ea4cd;
    color: rgba(21, 31, 53, 1);
    text-shadow: 0 1px 1px rgba(255, 255, 255, .35);
}

a.facebook:active {
    background: #304886;
    background: linear-gradient(#304886, #4669ab);
}



/* Fin Redes sociales */

/* Estilo formulario */
form{
    font-family: 'Rubik';
}
.arroba{
    max-width: 30%;
    float: right;
}

form input,
form textarea,
form select {
    display: block;
}

form input[type="radio"],
form input[type="checkbox"] {
    display: inline;
}

form label, .bold {
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bold;
}

.bold {
    margin-bottom: 0px;
}

.nobold {
    font-weight: normal;
}

.input-textarea {
    margin-bottom: 10px;
}

form legend {
    font-size: 30px;
    font-style: oblique;
}
.radiocheck label {
    margin:0px;
}

/* Mogollon de media queries, que van al final */


@media only screen and (max-width: 900px) {
    #main-container {
        background-color: red;
    }

    /*formulario*/
    .radiocheck {
        display:block;
    }

    /* HEADER */
    /* Ocupa el total de la pantalla */
    header {
        width: 100vw;
        height: 50vh;
        background-color: transparent;
        background-image: linear-gradient(rgba(186, 191, 212, 0.7),
                rgba(58, 83, 59, 0.7)), url(../img/mobileMainImage.jpg);
        background-size: cover;
        background-position: center;
    }

    #contenedor-logo {
        height: 5rem;
        border: none;
    }

    #contenedor-logo img {
        height: 100%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 1), #1b2f39);

    }

    /* Menu */

    header nav {
        height: 5rem;
    }

    .menu__container {
        display: flex;
        /* border: 1px solid red; */
        align-items: center;
        justify-content: center;
        height: 5rem;
        padding: 0, 6rem;
        background-image: linear-gradient(to right, #1b2f39, #818592);
    }



    /* Botones de menu */
    .nav__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: whitesmoke;
        margin-left: 3rem;
        margin-right: 1.5rem;
        background-color: rgb(173, 188, 236);
        border-radius: 16px;
        height: 2rem;
        width: 6rem;
        min-width: 90px;
        transition: all 0.2s;
        padding-left: 2rem;
    }

    .nav__link:hover {
        font-weight: bolder;
        border-bottom: 3px solid #ffffff;
        background-color: rgb(124, 124, 235);
        color: rgb(235, 235, 235);
    }

    .menu__container a:hover::after {
        width: 0%;
    }

    /* Body */

    /* 
    ***No modificar por que desarmará todos los demás objetos
    *
    .ancho-principal{
        width: 100%;
        margin:0;
        padding-right: 0%;
    } */

    .aside-left {
        display: none;
    }

    .main-rigth {
        width: 90%;
        margin: auto;
        float: none;
    }

    /* Footer */

    footer {
        margin-top: 0px;
        height: 1300px;
    }

    .cajas-footer {
        width: 100%;
        height: 250px;
        text-align: center;
        padding: 25px 0px 25px 0px;
    }

    .texto-footer {
        font-size: 25px;
        line-height: 50px;
    }

    .map-iframe {
        width: 100%;
        height: 250px;
    }

    .listas-footer {
        font-size: 25px;
        line-height: 50px;
    }

}/* fin media queries max-width: 900px */

@media only screen and (min-width: 900px) and (max-width: 1300px) {
    #main-container {
        background-color: yellow;
    }

    section {
        padding: 0px;
    }

    .aside-left {
        display: none;
    }

    .main-rigth {
        width: 90%;
        margin: auto;
        float: none;
    }

    #titulo-portada {
        width: 100%;
    }

    footer {
        height: 700px;
        margin-top: 0px;
    }

    .cajas-footer {
        width: 40%;
    }

    .texto-footer {
        font-size: 23px;
    }

    .map-iframe {
        width: 100%;
        height: 200px;
    }
}

@media only screen and (min-width:1300px) {
    #main-container {
        background-color: #d3d3d3;
    }
}

/* iPads (portrait)*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    #main-container {
        background-color: violet;
    }
}

/* iPads (landscape) */
@media only screen and (min-device-width : 1024px) and (max-device-width : 768px) and (orientation : landscape) {
    #main-container {
        background-color: orange !important;
    }
}

/* iPhone (portrait)*/
@media only screen and (min-device-width : 390px) and (max-device-width : 844px) and (orientation : portrait) {
    #main-container {
        background-color: rgb(63, 207, 218);
    }
}

/* iPhone (landscape) */
@media only screen and (min-device-width : 844px) and (max-device-width : 390px) and (orientation : landscape) {
    #main-container {
        background-color: grey !important;
    }
}